:root {
  /* Colours */
  --color-text: white;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  /* --color-bg: #04152d; */
  --color-theme:rgb(222, 49, 30);
  --color-bg:black;

  /* Fonts */
  --font-roboto: "Roboto";
}
